$source-color: #454140;
$record-color: #d4ac6e;
$current-name-color: #bd5734;
$historical-name-color: #4f3222;
$person-color: #7a3b2e;
$artefact-color: #8b6f47;
$work-color: #a79e84;
$reconstruction-color: #587e76;