$source-image: 'img/icons8-book-64.png';
$record-image: 'img/icons8-document-64.png';
$current-name-image:'img/icons8-merge-filled-64.png';
$historical-name-image: 'img/icons8-swivel-64.png';
$person-image: 'img/icons8-customer-64.png';
$artefact-image: 'img/icons8-archeology-64.png';
$work-image: 'img/icons8-portrait-64.png';
$reconstruction-image: 'img/icons8-fill-color-64.png';