
/**
 * Specific styling for the basic search page
 */
 .page-search {
    #block-system-main h1 {
        display: none;
    }

    .search-api-page-results {
        ol {
            padding: 0;
        }

        h2, .search-performance, .search-info {
            display: none;
        }
    }
}


/**
 * Specific styling for the advanced search page
 */
.page-advanced-search {
    // Smaller sized heading
    h2 {
        font-size: 21px;
    }

    // No breadcrumb
    .breadcrumb {
        display: none;
    }

    // Year from/to fields displayed inline, with a '-' after the from date
    #edit-field-year-from-wrapper,
    #edit-field-year-to-wrapper {
        display: inline-block;
        padding: .5em .5em 0 0;

        .views-widget {
            display: block;
        }

        input {
            display: inline-block;
            max-width: 80px;
        }

        .form-item-field-year-from::after {
            content: " - ";
            font-weight: bold;
        }

        label[for=edit-field-year-to] {
            visibility: hidden;
        }
    }

    // Facet styling
    .block-facetapi {
        .block-title {
            font-size: 14px;
            font-weight: bold;
            margin: 0 0 5px 0;
        }

        ul {
            padding: 0;
        }

        .facetapi-limit-link {
            font-style: italic;
        }
    }
}
